<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NModbus4" version="2.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.6.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net461" />
</packages>